target/
.profiler/
.DS_Store
.classpath
.idea
.project
.settings
*.iml
**/.flattened-pom.xml
.pyc
dependency-reduced-pom.xml
.vscode
.factorypath
.metadata
.python-version
dep.tree
.metals
.bloop
**/.jfrog_vscode
